<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>TAMSUI RIVER</title>
  </head>
</script> 

    <body>
        <!--HEADER-->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Tamsui River</h1>
                <p class="lead">Creating a solution for small local farmers</p>
            </div>
        </div>
        
            
        <div class="container">
            <form>
                <div class="form-group">
                    <label for="name">USER NAME</label>
                    <input type="email" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="password">PASSWORD</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                
                <button type="submit" class="btn btn-dark align-center">SIGN IN</button>
            </form>
        </div>
        <div class="container">
           
                <h4 class="text-center">or SIGN UP</h4>
                <br>
            
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./image/farmer-signup.png" class="card-img-top rounded-circle" width="150px" height="250px" alt="I'M A FARMER">
                        <div class="card-body text-center">
                            <hr>
                            <button type="signup-farmer" class="btn btn-dark">I'M A FARMER</button>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                           <img src="./image/enterprise-signup.jpg" class="card-img-top" width="150px" height="250px" alt="I'M AN ENTERPRISE">
                        <div class="card-body text-center">
                            <hr>
                            <button type="signup-farmer" class="btn btn-dark">I'M AN ENTERPRISE</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            
        </div>
<!--FOOTER-->
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    
                    <p class="lead">some good slogan here</p>
                </div>
        </div>


    </body>
</html>