<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <!--HEADER-->
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-4">Tamsui River</h1>
          <p class="lead">Creating a solution for small local farmers</p>
      </div>
  </div>
<h1 class="text-center"> 
	Order sent
</h1>
<em><hr></em>
<div class="container">
    <h4>Thanks for you support!</h4>
    <h5>Your request is now pending for approved</h5>
</div>
<!--FOOTER-->
          <br>
          <br>    
          <div class="jumbotron jumbotron-fluid">
              <div class="container">
                                      
                  <p class="lead">Fair Trade | Food Safety | Eco-Friendly | Social Responsibility</p>
                  
              </div>
      </div>	
</body>
</html>
