<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <!--HEADER-->
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-4">Tamsui River</h1>
          <p class="lead">Creating a solution for small local farmers</p>
      </div>
  </div>

	<div class=container>
		<p> 
			<table>
        <tr>
          <td>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE68j2BdK8cIF6fU10p9XxwDpX8qOVUlKb7MiwbTFbr2Kfgvy6" alt="photo" width="150" height="150" align="top"><td></td>
            <h1 align="right"><br><pre class="tab"><b>ORDER</pre></h1>
            <em><hr></em>
          </td>
        </tr>
      </table>
		</p>
		<hr>
		<h2>Place Your Order</h2>
<form method="post" action="/producer/">
{% csrf_token %}
  <div class="form-group">
	    <label for="Name">Product:</label>
	    <input type="product" name="item" class="form-control" id="examplename" placeholder="Product"	>
  </div>

  <div class="form-group">
	    <label for="Name">Quantity:</label>
	    <input type="Quantity" name="quantity" class="form-control" id="examplename" placeholder="Quantity"	>
  </div>

  <div class="form-group">
	    <label for="Name">Price:</label>
	    <input type="Price" name="price" class="form-control" id="examplename" placeholder="Price"	>
  </div>
  <br>
  <h4>Certificate</h4>

  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">SGS</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">SGS1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
  <label class="form-check-label" for="inlineRadio3">SGS2 </label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">SGS3</label>
</div>

<br> <br>
  <div class="form-group">
	    <label><h4>More(weight,size,etc.)</h4></label>
	    <textarea cols="50" rows="5" type="description" class="form-control" id="exampledescription "  placeholder="Enter the description"> </textarea>
  </div>

  <input type="submit" class="btn btn-dark">
</form>


  </div>
  
          <!--FOOTER-->
          <br>
          <br>    
          <div class="jumbotron jumbotron-fluid">
              <div class="container">
                                      
                  <p class="lead">Fair Trade | Food Safety | Eco-Friendly | Social Responsibility</p>
                  
              </div>
      </div>
</body>
</html>