<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <!--HEADER-->
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-4">Tamsui River</h1>
          <p class="lead">Creating a solution for small local farmers</p>
      </div>
  </div>
<h1 class="text-center"> 
	FARMER SIGN UP
</h1>
<em><hr></em>
<div class="container">
	<img src="http://ku.90sjimg.com/element_origin_min_pic/17/09/17/83781f393851856559b8767fa569e061.jpg" width="200" height="200"alt="photo">

  <form method="post" action="/signup/">
  <div class="form-group">
	    <label for="name">NAME:</label>
	    <input type="name" name="name" class="form-control" id="examplename" placeholder="Name "	>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
    
   <div class="form-group">
	    <label for="product">PRODUCT:</label>
	    <input type="product" name="product" class="form-control" id="exampleproduct"  placeholder="Product"	>
  </div>

  <div class="form-group">
	    <label for="origin">PLACE OF ORIGIN:</label>
	    <input type="origin" name="origin" class="form-control" id="exampleplace"  placeholder="Place of origin"	>
  </div>

  <div class="form-group">
	    <label for="certificate">CERTIFICATE:</label>
	    <input type="certificate" name="certificate" class="form-control" id="examplecertificate "  placeholder="">"
  </div>

  <div class="form-group">
	    <label for="description">DESCRIPTION OF YOUR PRODUCT:</label>
	    <textarea cols="50" rows="5" type="description" name="description" class="form-control" id="exampledescription "  placeholder="Description"> Enter the description</textarea>
  </div>

	<input type="submit" class="btn btn-dark"><!--Submit</button-->
</form>
</div>
          <!--FOOTER-->
          <br>
          <br>    
          <div class="jumbotron jumbotron-fluid">
              <div class="container">
                                      
                  <p class="lead">Fair Trade | Food Safety | Eco-Friendly | Social Responsibility</p>
                  
              </div>
      </div>	
</body>
</html>
